beautifulsoup4==4.8.0
jsonschema==3.0.2
jupyter==1.0.0
numpy==1.17.2
pandas==0.25.1
Scrapy==1.7.3
scrapy-deltafetch==1.2.1
scrapyd==1.2.1
scrapyd-client==1.2.0a1
Send2Trash==1.5.0
urllib3==1.25.6
w3lib==1.21.0
